 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');
@import url('../vender/swiper/swiper.min.css');



@font-face {
  font-family: 'HelveticaNeueLTStd-MdCn';
  src        : url('../fonts/helveticaNeueLTStd-MdCn.eot');
  src        : url('../fonts/helveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaNeueLTStd-MdCn.svg#helveticaNeueLTStd-MdCn') format('svg'),
    url('../fonts/helveticaNeueLTStd-MdCn.ttf') format('truetype'),
    url('../fonts/helveticaNeueLTStd-MdCn.woff') format('woff'),
    url('../fonts/helveticaNeueLTStd-MdCn.woff2') format('woff2');
  font-weight: normal;
  font-style : normal;
}


/* 
font-family: 'Open Sans',sans-serif;
font-family: 'Roboto Slab',serif;2281
font-family: 'HelveticaNeueLTStd-MdCn';
*/


@font-face {
  font-family: 'italic';
  src        : url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'light';
  src        : url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'light_italic';
  src        : url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'regular';
  src        : url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'semibold';
  src        : url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'bold';
  src        : url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'bold_italic';
  src        : url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: '_condensedbold';
  src        : url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'condensed_light';
  src        : url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'CnLtIt';
  src        : url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condlightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'extrabold';
  src        : url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'extrabold_italic';
  src        : url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

html,
body {
  width: 100%;
}

:root {
  --clr  : #035084;
  --clr-d: #19618f;
}

body {
  font-size      : 16px;
  color          : #222;
  font-family    : 'Open Sans','regular', sans-serif;
  /*  font-family: 'regular'; */
  font-weight    : 400;
  margin         : 0;
  padding        : 0;
}

a {
  transition        : all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition   : all 0.2s ease-in-out;
  -o-transition     : all 0.2s ease-in-out;
  -ms-transition    : all 0.2s ease-in-out;
  text-decoration   : none;
}

a:hover {
  text-decoration: none;
  color          : red;
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

input [type=submit],
button {
  outline: none !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.clear {
  clear: both;
}

.mainContainer {
  position: relative;
}

.m-bottom {
  margin-bottom: 50px;
}

.containerBig {
  width        : 1630px;
  padding-right: 15px;
  padding-left : 15px;
  margin-right : auto;
  margin-left  : auto;
}

/* 
body {
  opacity: 0;
} */

header {
  position  : sticky;
  top       : -40px;
  z-index   : 999;
  background: #fff;
}

.fixHeader .main-header {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.small-header {
  background: #d9af45;
}

.small-header ul {
  display        : flex;
  justify-content: flex-end;
  height         : 40px;
  align-items    : center;
}

.small-header ul li {
  border-right: 1px solid #ffffff;
  height      : 40px;
  line-height : 33px;
  padding     : 0 40px;
}

.small-header ul li:last-of-type {
  border-right : 0;
  padding      : 0 20px;
  padding-right: 0;
}

.small-header ul li a {
  font-size: 14px;
  color    : #fff;
}

.small-header ul li a:hover {
  opacity: 0.7;
}

.main-header__in {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  height         : 100px;
}

.logo a {
  display: block;
}

.main-header ul {
  display       : inline-block;
  vertical-align: middle;
}

.main-header ul li {
  float: left;

  text-align : center;
  height     : 100%;
  font-family: 'Open Sans','semibold', sans-serif;

}

.main-header ul li:last-of-type {
  margin-right: 0;
}

.main-header ul li a {
  font-size  : 20px;
  color      : #2B79AC;
  padding    : 20px 30px;
  display    : block;
  font-weight: 600;
  transition : all 0.3s ease;
}



.main-header ul li:hover a {
  font-weight: 600;
  color      : #035084;

}

.main-header ul li.active a {
  font-weight   : 700;
  font-family: 'Open Sans','bold',sans-serif;
  color         : #035084;
  /* color      : #e5b046; */
}

.main-header ul li.cta {
  background: #005084;
}

.main-header ul li.cta a {
  color: #fff;
}

.banner-container__top {
  /* background : #035084 url(../img/banner-topbar.jpg)no-repeat right center/cover; */
  background    : #035084;
  height        : 94px;
  display       : flex;
  align-items   : center;
}

.banner-container__top h2 {
  font-size: 42px;
  color    : #fff;

  font-family: 'Open Sans','bold', sans-serif;
  font-weight: 700;

}

.banner-container__top h2 span {
  font-size  : 16px;
  display    : block;
  font-family: 'Open Sans','regular', sans-serif;
  font-weight: 400;
  margin-top : 15px;
}

.banner-container__main {
  /* background: url('../img/home-banner.jpg')no-repeat center center/cover; */
  position     : relative;
}

.banner-container__main-in {
  /* min-height    : 400px; */
  padding          : 30px 15px;
  position         : absolute;
  top              : 0;
  width            : 100%;
  left             : 50%;
  transform        : translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform   : translateX(-50%);
  -ms-transform    : translateX(-50%);
  -o-transform     : translateX(-50%);
}

.banner-container__main p {
  font-size    : 20px;
  color        : #015084;
  margin-bottom: 10px;
  line-height  : 1.6;
}

button,
.button {
  display           : block;
  width             : 227px;
  height            : 47px;
  text-align        : center;
  line-height       : 47px;
  font-size         : 20px;
  color             : #fff;
  border-radius     : 50px;
  background        : #035084;
  border            : 0;
  cursor            : pointer;
  transition        : 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition   : 0.2s all ease;
  -ms-transition    : 0.2s all ease;
  -o-transition     : 0.2s all ease;
  font-weight       : 400;
  font-family: 'Open Sans','regular', sans-serif;

}

button#login {
  width: 205px;
}

button:hover,
.button:hover {
  background: #035084;
  color     : #fff;
}

.banner-container__main button,
.banner-container__main .button {
  margin-top: 20px;
}

.sp-container {
  padding: 75px 0;
}

.sp-txt {
  font-size : 30px;
  color     : #035084;
  text-align: center;
}

.sp-txt a {
  font-family: 'Open Sans','bold', sans-serif;
  font-weight: 700;
  color      : #035084;
  position   : relative;
}

.sp-txt a:hover {
  color: #035084;
}

h3.sp-txt a:after {
  content   : '';
  position  : absolute;
  bottom    : 2px;
  left      : 0;
  width     : 100%;
  height    : 1px;
  background: #035084;
}

.sp-box {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-top     : 50px;
  position       : relative;
}

.sp-box__in {
  width             : 265px;
  height            : 244px;
  text-align        : center;
  background        : #035084;
  position          : relative;
  cursor            : pointer;
  transition        : 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition   : 0.5s all ease;
  -ms-transition    : 0.5s all ease;
  -o-transition     : 0.5s all ease;
}

.sp-box__in:before {
  content   : '';
  position  : absolute;
  width     : 100%;
  height    : 13px;
  left      : 0;
  top       : 0;
  background: #f6d359;
}

.sp-box__in h2 {
  margin            : 0;
  padding           : 0 25px;
  color             : #fff;
  text-align        : left;
  position          : absolute;
  width             : 100%;
  top               : 50%;
  background        : url(../img/right-arrow.png)no-repeat calc(100% - 12px) center;
  transform         : translate(0, -50%);
  -webkit-transform : translate(0, -50%);
  -moz-transform    : translate(0, -50%);
  -ms-transform     : translate(0, -50%);
  -o-transform      : translate(0, -50%);
  transition        : 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition   : 0.5s all ease;
  -ms-transition    : 0.5s all ease;
  -o-transition     : 0.5s all ease;
}

.sp-box__in h2 span {
  font-family: 'Open Sans','extrabold', sans-serif;
  font-weight: 800;
  display    : block;
}

.sp-box__in p {
  font-size               : 19px;
  color                   : #fff;
  text-align              : center;
  position                : absolute;
  width                   : 100%;
  top                     : 50%;
  transform               : translate(0, -50%);
  -webkit-transform       : translate(0, -50%);
  -moz-transform          : translate(0, -50%);
  -ms-transform           : translate(0, -50%);
  -o-transform            : translate(0, -50%);
  padding                 : 0 20px;
  margin                  : 0;
  opacity                 : 0;
  transition              : 0.5s all ease;
  -webkit-transition      : 0.5s all ease;
  -moz-transition         : 0.5s all ease;
  -ms-transition          : 0.5s all ease;
  -o-transition           : 0.5s all ease;
  transition-delay        : 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay   : 0s;
  -ms-transition-delay    : 0s;
  -o-transition-delay     : 0s;
  z-index                 : 9;
}


.sp-box__in__hover {
  background              : #035084;
  position                : absolute;
  right                   : 0;
  bottom                  : 0;
  width                   : 0%;
  height                  : 100%;
  transition              : 0.5s all ease;
  -webkit-transition      : 0.5s all ease;
  -moz-transition         : 0.5s all ease;
  -ms-transition          : 0.5s all ease;
  -o-transition           : 0.5s all ease;
  transition-delay        : 0.2s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay   : 0.3s;
  -ms-transition-delay    : 0.3s;
  -o-transition-delay     : 0.3s;
  overflow                : hidden;
}

.sp-box__in:hover .sp-box__in__hover {
  width                   : 100%;
  transition-delay        : 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay   : 0s;
  -ms-transition-delay    : 0s;
  -o-transition-delay     : 0s;
}

.sp-box__in:hover p {
  opacity                 : 1;
  transition-delay        : 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay   : 0.3s;
  -ms-transition-delay    : 0.3s;
  -o-transition-delay     : 0.3s;
}

.sp-box-img {
  width    : 100%;
  position : relative;
  /* height: 600px; */
}

.sp-box-img img {
  width        : 100%;
  /* height    : 100%; */
  /* object-fit: cover; */
}

.default-box h2 {
  text-align   : center;
  margin-bottom: 20px;
  font-size    : 30px;
  color        : #035084;
  font-family  : 'Open Sans','bold', sans-serif;
  font-weight  : 700;
}

.default-box h2 span {
  font-size: 34px;
}

.default-box p {
  max-width  : 855px;
  text-align : center;
  font-size  : 20px;
  color      : #035084;
  margin     : 0 auto;
  line-height: 1.6;
}

.colour-box {
  background: #fef8e6;
}

.section {
  padding: 45px 0 40px;
}

.ind-txt {
  position     : relative;
  font-size    : 14px;
  color        : #4a4a4a;
  padding-left : 2px;
  margin       : 0;
  margin-top   : 15px;
  margin-bottom: 10px;
}

.ind-txt span {
  position: relative;
  left    : 0;
  top     : -5px;
  color   : red;
}


.form-box {
  margin-bottom: 20px;
}

.form-box label {
  font-size  : 16px;
  color      : #015084;
  font-family: 'Open Sans','semibold', sans-serif;
  font-weight: 600;
}

.error-box .form-field {
  border: 1px solid red;
}

.error-box .select2-container--default .select2-selection--single {
  border: 1px solid red;
}

.error-box.form-box textarea {
  border: 1px solid red;
}

.error-box .error {
  /* opacity: 1; */
  display   : block;
}

.error {
  font-size: 14px;
  color    : red;
  font-family: 'Open Sans','bold',
    sans-serif;
  font-weight: 700;
  margin-top : 10px;
  /* opacity : 0; */
  display    : none;
}

.form-field {
  border    : 1px solid #015084;
  height    : 50px;
  width     : 100%;
  background: #fff;
  outline   : none;
  padding   : 0 15px;
  color     : #035084;
  font-size : 16px;
text-align: center;
  text-align-last: center;
}

 
option {
  text-align: center;
text-align-last: center;
  /* reset to left*/
}

.sortSel {
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #035084;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #035084;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #035084;
}

.form-box textarea {
  border     : 1px solid #015084;
  height     : 240px;
  width      : 100%;
  background : transparent;
  outline    : none;
  padding    : 15px;
  line-height: 1.5;
}

.req {
  position: relative;
}

.req:after {
  content  : '*';
  color    : red;
  left     : 3px;
  position : relative;
  top      : -7px;
  font-size: 12px;
}

.form-box button,
.form-box .button {
  margin : 0 auto;
  display: block;
}


.footer-slip {
  background: #035084 url('../img/footer-bg.jpg')no-repeat right bottom/cover;
  height    : 39px;
}




.salix-logo {
  margin-bottom: 20px;
}

footer .copy .select2-container--default .select2-selection--single {
  height       : 50px;
  width        : 100%;
  background   : transparent;
  border       : 1px solid #015084;
  outline      : none;
  padding      : 0 15px;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding    : 0;
}

.select2-search--dropdown {
  padding : 0;
  height  : 0;
  overflow: hidden;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height    : 50px;
  width     : 40px;
  background: url(../img/dropdown.png) no-repeat center center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-dropdown {
  background-color: #fff;
  border          : 1px solid #015084;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
  color           : #015084;
}

.select2-results__option {
  color: #8ba6b7;
}

.select2-container--default .select2-results>.select2-results__options {
  padding   : 15px;
  max-height: inherit;
}

h3 {
  font-size  : 30px;
  line-height: 40px;
  color      : #035084;
  font-weight: 400;
  text-align : center;
  font-family: 'Open Sans','regular', sans-serif;
  font-weight: 400;
  margin     : 25px 0;
}

h3 strong {
  font-family: 'Open Sans','semibold', sans-serif;
  font-weight: 600;
}

.clear {
  clear: both;
  width: 100%;
}

.check-box {
  position     : relative;
  margin-bottom: 10px;
}

.check-box input {
  position: absolute;
  width   : 0;
  opacity : 0;
}

.check-box label {
  font-size   : 14px;
  line-height : 22px;
  color       : #015084;
  cursor      : pointer;
  padding-left: 30px;
}

label.req a {
  text-decoration: underline;
  color          : #015084;
}

label.req a:hover {
  text-decoration: none;
  color          : #015084;
}

.check-box input:checked+label:before {
  background: url('../img/right-blue.png') no-repeat center center/contain;
}

.check-box label:before {
  content : '';
  width   : 20px;
  height  : 20px;
  border  : 1px solid #015084;
  display : inline-block;
  position: absolute;
  left    : 0;
  top     : 3px;
}

.ehr-box {
  text-align: center;
  padding   : 0 10px;
}

.ehr-box h2 {
  font-size  : 28px;
  line-height: 40px;
  color      : #035084;
  font-family: 'Open Sans','semibold',
    sans-serif;
  font-weight: 600;
}

.ehr-box h2 span {
  display    : block;
  font-family: 'Open Sans','regular', sans-serif;
  font-weight: 400;
}

.ehr-img img {
  max-width: 100%;
}

.ehr-box button,
.ehr-box .button {
  margin: 35px auto 0;
}

.ehr-contact h3 {
  margin-bottom: 25px;
}

.ehr-contact {
  text-align      : center;
  /* margin-bottom: 110px; */
}

.ehr-contact .button {
  margin: 0 auto 40px;
}

.evidence-links ul li {
  font-size     : 26px;
  color         : #035084;
  margin        : 30px 0;
  display       : inline-block;
  vertical-align: middle;
}

.evidence-links ul li h2 {
  font-family: 'Open Sans','semibold', sans-serif;
  font-weight: 600;
  margin     : 0;
}

.evidence-links ul li a {
  color          : #035084;
  text-decoration: underline;
}

.evidence-links {
  background: #fef8e6;
  padding   : 15px 50px;
  margin-top: 30px;
}

.guideline-links ul li {
  background   : #fef8e6;
  padding      : 25px 100px;
  margin-bottom: 33px;
}

.guideline-links ul li a {
  font-size      : 26px;
  line-height    : 1.8;
  color          : #035084;
  text-decoration: underline;
  position       : relative;
}

.guideline-links ul li a img {
  position: absolute;
  left    : -50px;
  top     : 2px;
}

.guideline-links {
  margin: 30px 0 0 0;
}

.forgot {
  text-align: center;
  margin    : 10px 0;
}

.forgot a {
  font-size      : 18px;
  color          : #035084 !important;
  text-align     : center;
  text-decoration: underline !important;
  cursor         : pointer;
}

.forgot a:hover {
  color: #035084 !important;
}

.login-register {
  margin: 100px 0;
}

.change-password-box {
  margin: 50px 0;
}

.upload-logo__content {
  padding-left: 70px;
  padding-top : 30px;
}

.upload-logo {
  display: flex;
  margin : 20px 0;
}

.upload-logo__img-box {
  text-align: center;
}

.upload-logo__content h2 {
  font-size  : 30px;
  color      : #035084;
  font-family: 'Open Sans','bold', sans-serif;
  font-weight: 700;
}

.upload-logo__content p {
  font-size: 18px;
  color    : #035084;
}

.upload-logo__content .edit-logo {
  font-size : 18px;
  color     : #035084;
  text-align: center;
}

.upload-logo__img {
  width           : 137px;
  height          : 137px;
  border-radius   : 137px;
  background-color: #cccccc;
  overflow        : hidden;
}

.upload-logo__img img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.upload-logo__img-box input {
  position: absolute;
  width   : 0;
  overflow: hidden;
}

.upload-logo__img-box label {
  font-size      : 18px;
  color          : #035084;
  text-align     : center;
  display        : inline-block;
  vertical-align : middle;
  margin-top     : 10px;
  text-decoration: underline;
  cursor         : pointer;
}

.upload-logo__img-box label:hover {
  color: #007bff;
}

.upload-form-sec {
  border    : 1px solid #015084;
  height    : 50px;
  width     : 100%;
  background: transparent;
  outline   : none;
}

.upload-form-sec__1 {
  height         : 50px;
  width          : 100%;
  background     : transparent;
  outline        : none;
  padding        : 0 15px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.upload-form-sec__1 p {
  margin: 0;
}

.upload-form-sec__1 input {
  position: absolute;
  opacity : 0;
  width   : 0;
}

.upload-form-sec__1 label {
  width             : 84px;
  height            : 25px;
  background        : #035084;
  font-size         : 12px;
  color             : #fefefe;
  margin            : 0;
  text-align        : center;
  line-height       : 25px;
  cursor            : pointer;
  transition        : 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition   : 0.5s all ease;
  -ms-transition    : 0.5s all ease;
  -o-transition     : 0.5s all ease;
}

.upload-form-sec__1 label:hover {
  background: #035084;
}

.upload-form-sec__2 {
  display : none;
  position: relative;
}

.upload-form-sec__2__name {
  margin : 0;
  padding: 12px 15px;
}

.upload-form-sec__2__remove {
  position          : absolute;
  right             : 20px;
  top               : 0;
  line-height       : 50px;
  font-size         : 12px;
  color             : red;
  transition        : 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition   : 0.5s all ease;
  -ms-transition    : 0.5s all ease;
  -o-transition     : 0.5s all ease;
  cursor            : pointer;
}

.upload-form-sec__2__remove:hover {
  text-decoration: underline;
}

.pad {
  padding: 0 120px;
}

.modal-box {
  background    : #035084;
  width         : 100%;
  max-width     : 1170px;
  padding       : 80px;
  pointer-events: auto;
}

.modal-box .default-box h2,
.modal-box .default-box p,
.modal-box .form-box label,
.modal-box .ind-txt {
  color: #fff;
}

.modal-box .form-field {
  background: #fff;
}

.modal-box .form-box button,
.modal-box .form-box .button {
  margin    : 0 auto;
  display   : block;
  background: #fff;
  width     : 300px;
  color     : #035084;
}

.modal-box .form-box button:hover,
.modal-box .form-box .button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.model-close {
  cursor            : pointer;
  position          : absolute;
  right             : 30px;
  top               : 30px;
  transition        : 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition   : 0.2s all ease;
  -ms-transition    : 0.2s all ease;
  -o-transition     : 0.2s all ease;
}

.model-close:hover {
  transform        : rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform   : rotate(90deg);
  -ms-transform    : rotate(90deg);
  -o-transform     : rotate(90deg);
}

.menu {
  position: relative;
  cursor  : pointer;
  display : inline-block;
  width   : 35px;
  height  : 30px;
  top     : 0;
  margin  : 0 15px;
  display : none;
}

.menu span {
  height            : 3px;
  width             : 27px;
  background        : #000;
  right             : 0;
  top               : 15px;
  border-radius     : 30px;
  position          : absolute;
  transition        : all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition   : all 0.2s ease-in-out;
  -o-transition     : all 0.2s ease-in-out;
  -ms-transition    : all 0.2s ease-in-out;
}

.menu span:before {
  content      : '';
  position     : absolute;
  top          : -10px;
  right        : 0;
  background   : #000;
  height       : 3px;
  width        : 34px;
  border-radius: 30px;
}

.menu span:after {
  content      : '';
  position     : absolute;
  top          : 10px;
  right        : 0;
  background   : #000;
  height       : 3px;
  width        : 34px;
  border-radius: 30px;
}

.menu:hover span {
  width: 34px;
}

/* Health Tool */
.htContainer {
  padding: 70px 0;
}

.htContainerIn {
  max-width: 1175px;
  margin   : 0 auto;
}

.htBox {
  margin-bottom: 60px;
  width        : 50%;
  float        : left;
}

.htImg {
  width: 180px;
}

.htBoxIn {
  display   : flex;
  padding   : 25px 30px;
  background: rgba(246, 210, 89, 0.3);
  width     : 555px;
  height    : 318px;
}

.htBox:nth-of-type(even) .htBoxIn {
  float: right;
}

.htImg img {
  width: 100%;
}

.htCont {
  padding-left: 30px;
  width       : calc(100% - 180px);
}

.htCont button,
.htCont .button {
  width      : 150px;
  height     : 30px;
  font-size  : 16px;
  line-height: 30px;
}

.htCont__in {
  min-height: 210px;
}

.htCont__in h2 {
  font-size  : 20px;
  line-height: 1.5;
  color      : #035084;
  font-family: 'Open Sans','semibold', sans-serif;
  font-weight: 600;
  margin-top : 15px;
}

.htCont__in p {
  font-size  : 18px;
  line-height: 1.3;
  color      : #4b4b4b;
}

ul.pagin {
  text-align: center;
  margin    : 30px 0 0;
  clear     : both;
}

ul.pagin li {
  font-size         : 16px;
  color             : #035084;
  display           : inline-block;
  vertical-align    : middle;
  width             : 32px;
  height            : 32px;
  line-height       : 30px;
  text-align        : center;
  font-family       : 'Open Sans','semibold', sans-serif;
  font-weight       : 600;
  border-radius     : 50%;
  transition        : 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition   : 0.2s all ease;
  -ms-transition    : 0.2s all ease;
  -o-transition     : 0.2s all ease;
  cursor            : pointer;
}

ul.pagin li:hover,
ul.pagin li.active {
  background: #035084;
  color     : #fff;
}

ul.pagin li.paginNP {
  background   : #035084;
  color        : #fff;
  border-radius: 0;
  width        : 82px;
}

ul.pagin li.paginNP:hover {
  background: #035084;
}

.htFilter {
  background: #035084;
  padding   : 15px 0;
}

.htFilterRow {
  display     : flex;
  margin-left : -18px;
  margin-right: -18px;
}

.htFiltHead {
  width  : 20%;
  padding: 0 18px;
}

.htFiltHead .htFiltHdSpan {
  cursor: pointer;
}

.htFiltHead .htFiltHdSpan {
  cursor     : pointer;
  width      : 100%;
  height     : 50px;
  background : #fff;
  display    : block;
  text-align : center;
  line-height: 50px;
  position   : relative;
  font-size  : 16px;
  color      : #035084;
}

.htFiltHead .htFiltHdSpan img {
  position  : absolute;
  right     : 15px;
  top       : 50%;
  margin-top: -4px;
}

.htFiltHead .select2-container--default .select2-selection--single {
  background   : #fff;
  border-bottom: 0;
}

.htFiltHead .select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: center;
}

.htFiltHead .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #035084;
}

.htFiltHead .select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url(../img/arrow.png) no-repeat center center;
}

.htFiltSearch {
  width        : 100%;
  height       : 50px;
  display      : block;
  line-height  : 50px;
  position     : relative;
  font-size    : 16px;
  color        : #035084;
  background   : #fff url(../img/search-clr.png) no-repeat calc(100% - 15px) center;
  outline      : none;
  border       : 0;
  padding      : 0 15px;
  padding-right: 40px;
}

.htFiltSearch::-webkit-input-placeholder {
  text-align: center;
}

.htFiltSearch:-ms-input-placeholder {
  text-align: center;
}

.htFiltSearch::placeholder {
  text-align: center;
}

.htFiltHead.htFiltSearchBox {
  width   : 40%;
  position: relative;
}

.htFiltSearchBox button {
  z-index      : 99;
  position     : absolute;
  top          : 0;
  right        : 18px;
  border-radius: 0;
  height       : 100%;
  width        : 40px;
  opacity      : 0;
}

.filtInt {
  background    : #fff;
  display       : inline-block;
  width         : 100%;
  vertical-align: middle;
  height        : 170px;
}

.filtInt ul {
  max-width: 750px;
  margin   : 50px auto;
}

.filtInt ul li {
  display       : inline-block;
  width         : 32%;
  text-align    : left;
  vertical-align: top;
}

.filtBtns {
  text-align: center;
}

.filtBtns button,
.filtBtns .button {
  width     : 205px;
  color     : #035084;
  background: #fff;
  display   : block;
  margin    : 37px auto 0;
}

.filtBtns button:hover,
.filtBtns .button:hover {
  opacity: 0.8;
}

.filtBtns a {
  font-size      : 15px;
  color          : #ffffff;
  text-decoration: underline;
  margin         : 7px 0 12px;
  display        : inline-block;
  vertical-align : middle;
}

.filtBtns a:hover {
  opacity: 0.8;
}

.filtResult {
  font-size    : 15px;
  color        : #ffffff;
  font-family  : 'Open Sans','semibold', sans-serif;
  font-weight  : 600;
  margin-top   : 20px;
  margin-bottom: 0;
  text-align   : center;
}

.filtIntBox,
.htFiltBody {
  display: none;
}

.filtInt ul li .check-box label {
  font-size: 18px;
  color    : #6d6e71;
}

.fxHdr {
  display: none;
}


.fixHeader .logo {
  width: 330px;
}

.fixHeader .main-header ul li a {
  padding: 25px 0;

}

.fixHeader .fxHdr {
  display: block;
}


.fixHeader .main-header ul li.fxHdr a {
  padding: 32px 0;

}

.fixHeader .main-header ul li {
  padding: 0 14px;
}

.fixHeader .main-header__in {
  height: 80px;
}


.fixHeader .main-header ul li:last-of-type {
  margin-right: 0;
}

.fixHeader .main-header ul li a {
  font-size  : 16px;
  line-height: 1;
}

.main-header ul li:nth-of-type(4) {
  margin-right: 0;
}

.fxHdr1 {
  border-left : 0px solid #ccc;
  padding-left: 25px;
  margin-left : 0px !important;
}

sup{font-size:12px}
h3 sup{top:-13px; font-weight: bold;}


























.searchContainer {
  position  : fixed;
  z-index   : 999;
  left      : 0;
  top       : 0;
  width     : 100%;
  height    : 100%;
  background: rgba(15, 114, 179, 0.5);
  display   : none;
}

.srchBox {
  height    : 40px;
  background: rgba(15, 114, 179, 1);
}

.srch {
  position: relative;
}

.srch input {
  width        : 100%;
  height       : 40px;
  border       : 0;
  outline      : none;
  color        : #fff;
  padding-left : 40px;
  padding-right: 30px;
  background   : url(../img/search.png) no-repeat 0px center;
}

.srch .srchClose {
  position  : absolute;
  top       : 12px;
  right     : 0;
  background: url(../img/close-white.png)no-repeat center center/contain;
  width     : 15px;
  height    : 15px;
  cursor    : pointer;
}

.srch input::-webkit-input-placeholder {
  color: #fff;
}

.srch input:-ms-input-placeholder {
  color: #fff;
}

.srch input::placeholder {
  color: #fff;
}

.srchBtn {
  cursor        : pointer;
  /* width      : 30px; */
  /* height     : 30px; */
  display       : inline-block;
  vertical-align: middle;
}

/* Menu */
.menu-icon {
  position: relative;
  cursor  : pointer;
  display : none;
  width   : 35px;
  height  : 28px;
  top     : 0;
  margin  : 0;
}

.menu-icon span {
  background: #035084;
  right     : 0;
  top       : 12px;
  position  : absolute;
  width     : 100%;
  height    : 4px;
}

.menu-icon span:before {
  content   : '';
  top       : -11px;
  background: #035084;
  right     : 0;
  position  : absolute;
  width     : 100%;
  height    : 4px;
}

.menu-icon span:after {
  content   : '';
  top       : 11px;
  background: #035084;
  right     : 0;
  position  : absolute;
  width     : 100%;
  height    : 4px;
}

.mob-menu {
  display: flex;
  width  : 100%;
  height : 100%;
}

.mob-menu-up,
.mob-menu-box {
  display: none;
}

.mob-srchBtn {
  margin-right: 25px;
}


.mob-menu-up {
  position  : fixed;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  background: #d9af45;
  z-index   : 999;
  color     : #fff;
}

.mob-close-box {
  background: #035084;
  text-align: center;
  padding   : 35px 0;
  width     : 100px;
}

.mob-close-box span {
  color      : #ffffff;
  font-size  : 28px;
  line-height: 1;
  display    : inline-block;
}

/* // Menu */


.h-banner-img-big img {
  width: 100%;
}

.h-banner-img {
  display: none;
}

.mobl {
  display: none;
}

.contact-msg {
  min-height     : 172px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  /*text-align   : center;*/
  margin         : 150px 0;

}

#regModal .modal-box {
  padding: 45px 40px;
}

#regModal {
  font-size  : 14px;
  line-height: 1.5;
  color      : #feffff;
}

#regModal .combig {
  font-size: 17px;
}

#regModal h2 {
  font-family  : 'Open Sans','semibold', sans-serif;
  font-weight  : 600;
  font-size    : 14px;
  margin-bottom: 20px;
}

.guidePop h3 {
  font-size  : 26px;
  color      : #ffffff;
  text-align : center;
  font-family: 'Open Sans','semibold', sans-serif;
  font-weight: 600;
}

.guidePop ul {
  text-align: center;
}

.guidePop ul li {
  display       : inline-block;
  vertical-align: middle;
  margin        : 0 20px;
}

.guidePop ul li a {
  font-size : 16px;
  color     : #ffffff;
  text-align: center;
}

.guidePop .check-box {
  position     : relative;
  margin-bottom: 10px;
  display      : inline-block;
  margin       : 60px 0 0;
}

.guidePop .check-box label {
  color: #fff;
}

.guidePop .check-box label:before {
  border: 1px solid #ffffff;
}

.guidePop .check-box input:checked+label:before {
  /* background: #ffffff;*/
  background   : url(../img/right-white.png) no-repeat center center/contain;
}

.srch__container {
  background: #fff;
  padding   : 20px 5px;
  margin    : 0 30px;
}

.srch__container__in {
  width  : 33.33333%;
  float  : left;
  padding: 0 15px;
}

.srch__container__in h2 {
  font-family  : 'Open Sans','semibold', sans-serif;
  font-weight  : 600;
  font-size    : 18px;
  color        : #035084;
  margin-bottom: 20px;
}

.srch__container__in ul li {
  margin-bottom: 15px;
}

.srch__container__in ul li a {
  font-size     : 16px;
  color         : #035084;
  line-height   : 1.5;
  display       : block;
  text-transform: none;
}

.srch__container__in ul li a:hover {
  text-decoration: underline;
  color          : #035084;
}

.srch-all {
  margin-top: 20px;
  text-align: center;
  padding   : 0 20px;
}

.srch-all a {
  font-family   : 'Open Sans','semibold', sans-serif;
  font-weight   : 600;
  font-size     : 16px;
  color         : #035084;
  line-height   : 1.5;
  display       : block;
  text-transform: none;
}

.srch-all a:hover {
  text-decoration: underline;
  color          : #035084;
}

.search-banner {
  height               : auto;
  min-height           : 94px;
  background-position-x: 90%;
}

.banner-container__top.search-banner h2 {
  max-width: 75%;
  margin   : 20px 0 25px;
}

.search-container-up {
  margin: 70px 0;
}

.search-container {
  margin-bottom : 20px;
  display       : inline-block;
  vertical-align: middle;
  width         : 100%;
}

.search-container li {
  color        : #6D6E71;
  line-height  : 25.888px;
  font-size    : 16px;
  margin-bottom: 35px;
}

.search-container li span {
  margin-bottom: 10px;
  display      : block;
}

.search-container li a.search-main-link {
  font-size    : 28px;
  color        : #035084;
  line-height  : 1.3;
  display      : block;
  margin-bottom: 10px;
}

.search-container li a.search-sub-link {
  color        : #035084;
  line-height  : 25.888px;
  font-size    : 16px;
  margin-bottom: 10px;
  word-break   : break-all;
}

.srch__cont {
  display       : inline-block;
  vertical-align: middle;
  max-height    : 250px;
  overflow      : auto;
}

.search-container li a.search-sub-link:hover {
  text-decoration: underline;
}


.alert {
  position: fixed;
  bottom  : 20px;
  right   : 20px;
}

.pagination {
  text-align: center;
  display   : block;
}

.page-item {
  display : inline-block;
  position: relative;
  margin  : 0 5px;
}

.page-link {
  font-size         : 16px;
  color             : #035084;
  display           : inline-block;
  vertical-align    : middle;
  width             : 32px;
  height            : 32px;
  line-height       : 30px;
  text-align        : center;
  font-family       : 'Open Sans','semibold', sans-serif;
  font-weight       : 600;
  border-radius     : 50%;
  transition        : 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition   : 0.2s all ease;
  -ms-transition    : 0.2s all ease;
  -o-transition     : 0.2s all ease;
  cursor            : pointer;
  padding           : 0;
  border            : 0;
  margin            : 0;
}

.page-item.active .page-link {
  background-color: #035084;
}

.pagination .page-item:first-of-type .page-link,
.pagination .page-item:last-of-type .page-link {
  background   : transparent;
  color        : #fff;
  border-radius: 0;
  width        : 82px;
  color        : #fff;
  font-size    : 0;
  z-index      : 999;
}

.pagination .page-item:first-of-type:after,
.pagination .page-item:last-of-type:after {
  color      : #fff;
  position   : absolute;
  left       : 0;
  top        : 0;
  z-index    : 99;
  width      : 100%;
  height     : 100%;
  line-height: 30px;
  font-family: 'Open Sans','regular',
    sans-serif;
  font-weight: 600;
  background : #035084;
}

.pagination .page-item:first-of-type:after {
  content: 'Prev';
}

.pagination .page-item:last-of-type:after {
  content: 'Next';
}

/*by sanat starts here*/
.disclaimer {
  background-color: rgba(225, 225, 225, 0.31);
  padding         : 40px 20px;
}

.disclaimer p {
  line-height  : 1.5;
  text-align   : center;
  font-size    : 13px;
  margin-bottom: 5px;
  color        : #787878;
}

.privacy-policy {
  color             : #787878;
  position          : relative;
  top               : -40px;
  float             : right;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition     : 0.2s all ease-in-out;
  -moz-transition   : 0.2s all ease-in-out;
  transition        : 0.2s all ease-in-out;
}

.privacy-policy:hover {
  color: #035084;
}

.guidePop p {
  width : 66%;
  margin: 25px auto 0;
}

/*by sanat ends here*/





























.logo {
  width     : 360px;
  transition: all 0.3s ease;
}

.logo img {
  width: 100%;
}

.cirr .super {
  position: relative;

}

.super {
  position   : relative;
  font-weight: normal;
}

.cirr .super,
.chronic .super,
.hep .super,
.pre .super {
  position   : relative;
  font-weight: 600;
}

/*===========================================================
 FOOTER START
===========================================================*/
footer {
  text-align : center;
  padding-top: 50px;
  font-family: 'Open Sans','regular',sans-serif;
  position   : relative;
  font-weight: 600;
}

.footer-slip {
  background: #d9af45;
  height    : 39px;
}

footer p {
  font-size: 13px;
  color    : #787878;
  margin   : 0;
}

footer .copy {
  display        : flex;
  max-width      : 475px;
  margin         : 10px auto 20px;
  justify-content: space-between;
}

.salix-logo {
  margin-bottom: 20px;
}

.policys {
  font-family: 'Open Sans','regular',sans-serif;
  position  : absolute;
  right     : 15px;
  bottom    : 55px;
  text-align: right;
  font-size : 13px;
  color     : #787878;
  font-weight: 600;
}

.policys .subfoo-link li {
  display      : inline-block;
  margin-bottom: 10px;
}

.policys a {
  color   : #787878;
  position: relative;
}

.policys a:hover {
  color: #005084
}

.policys .foo-link-2 a:after {
  content   : ' ';
  position  : absolute;
  width     : 100%;
  height    : 1px;
  background: #787878;
  left      : 0px;
  bottom    : -2px;
  transition: all 0.3s ease;
}

.policys a:hover:after {
  width     : 100%;
  background: #005084;
}

.policys li {
  display: inline-block;
  margin : 0 10px;
}

/*===========================================================
 FOOTER OVER
===========================================================*/
/*===========================================================
 SLIDER SECTION
===========================================================*/

/* SLIDER SECTION */
.slider_sec {
  background: #005084;
  height    : 85vh;
}

.swiper-container {
  height: 100%
}

.swiper-slide {
  display        : flex;
  align-items    : center;
  justify-content: center;
  background     : #005084;
}

.slider-points {
      max-width : 1105px;
      width:95%;
    text-align: center;
     
}

.slider-points h5 {
  font-family: 'Open Sans','regular', sans-serif;
  text-align : center;
  font-weight: 400;
  font-size  : 40px;
  color      : #fff;
}

.left-txt h5 {
  text-align   : left;
  margin-bottom: 55px;

}

.wht_colr {
  color: #ffffff;
}

.yel_colr {
  color: #f6d259;
}

.slider-points .big-1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size  : 50px;
  position   : relative;
}

.slider-points .big-2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size  : 62px;
  position   : relative;
}

.slider-points .big-3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size  : 68px;
  position   : relative;
}

.slider-points .big-4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size  : 81px;
  position   : relative;
}

.slider-points .big-5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size  : 86px;
  position   : relative;
}



.slider-points sup {
  font-weight: 300;
  font-size  : 25px;
  top        : -5px;
  right      : -5px;
}

.slider-points span sup {
  position: absolute;
  right   : -18px;
  top     : 42px;
}

.slider-points .big-3 sup {
  top: 29px;
}

.slider-points.point-3 .big-5 sup {
  top: 32px;
}

.slider-points a {
  background : #fff;
  font-family: 'Open Sans','semibold', sans-serif;
  font-size  : 35px;
  padding    : 8px 40px;
  margin     : 45px auto 0;
  display    : block;
  width      : max-content;
  font-weight: 600;
  color      : #2b79ac;
}

.ele {
  position : absolute;
  top      : 52%;
  left     : 31%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.img-01 {

  left: 31%;
}

.img-02 {
  left: 33%;
}

.img-03 {
  left: 36%;
}

.img-04 {
  left: 40%;
}

.img-05 {
  left : 50%;
  width: 100%
}

.img-06 {
  left : 50%;
  width: 100%
}

/*===========================================================
 SLIDER SECTION OVER
===========================================================*/

/*===========================================================
 REFERENCE SEC
===========================================================*/



.refrences_container {
  position: relative;
}

.refrences_sec {
  background: #d9af45;
  height    : 60px;
  width     : 100%;
  text-align: center;
  color     : #fff;

}

.refrences_sec h5 {
  line-height: 60px;
  font-family: 'Open Sans','regular',sans-serif;
  font-weight: 400;
  font-size  : 24px;

  position: relative;
  width   : max-content;
  margin  : 0 auto;
  cursor  : pointer;
}

.refrences_sec h5:after {
  content         : '';
  position        : absolute;
  width           : 15px;
  height          : 15px;
  display         : block;
  border-bottom   : 2px solid #ffffff;
  border-right    : 2px solid #ffffff;
  transform-origin: center center;
  top             : 50%;
  right           : -30px;
  transform       : translate(-0%, -50%) rotate(45deg);
  transition      : all 0.3s ease;
}

.refrences_sec h5.open:after {
  top      : 60%;
  transform: translate(-0%, -50%) rotate(-135deg);
}

.slider {
  font-family: 'Open Sans','regular', sans-serif;
  font-weight: 400;
  font-size  : 15px;
  overflow-y : hidden;
  line-height: 2.2;
  max-height : 0px;
  /* approximate max height */
  box-sizing                : border-box;
  padding                   : 0px;
  transition-property       : all;
  transition-duration       : .5s;
  transition-timing-function: ease;
  -webkit-box-shadow        : 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow           : 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow                : 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  position                  : absolute;
  background                : #fff;
  left                      : 0%;
color: #222;
  z-index  : 80;
  transform: translate(0%, 0%);
  width    : 100%;

}

.slider a{
color: #222;
transition: all 0.2s ease;
text-decoration: underline;
}
.slider a:hover{
color: #005084;
text-decoration: underline;
}
.slider.inside-page-slider {
  position: relative;
}

.slider.open {
  max-height: 500px;
  padding   : 35px 25px;
}


.main_section .blue_tag {
  background : #005084;
  font-family: 'Roboto Slab', serif;
  font-size  : 34px;
  font-weight: 400;
  color      : #fff;
  padding    : 30px 15px;
  margin-top : 50px;
  text-align : center;
}

.main_section .blue_tag a {
  position: relative;
  width   : fit-content;
  text-decoration: none;
  color:#fff;
   
}

.main_section .blue_tag a:after {
  content   : '';
  position  : absolute;
  width     : 100%;
  height    : 2px;
  background: #ffffff;
  left      : 0;
  bottom    : 0;
  transition: all 0.3s ease;
}
.main_section .blue_tag a:hover:after {
  
  width     : 100%;
 
}
.main_section .sub-tag {

  font-family: 'Open Sans','regular', sans-serif;
  font-size  : 34px;
  font-weight: 400;
  color      : #005084;
  padding    : 30px 15px;
  margin-top : 30px;
  text-align : center;
}

.main_section .sub-tag span,.main_section .sub-tag strong {
  font-weight: 900;
}

/* ========================================================================== 
MEDIA STYLE
 ==========================================================================*/
/* ========================================================================== 
COMMAN  CSS STYLE
 ==========================================================================*/
.margin-tb {
  margin: 90px 0 70px;
}

.margin-top1 {
  margin-top: 50px;
}

.margin-bottom1 {
  margin-bottom: 50px;
}

.main-title h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size  : 41px;
  color      : #005084;

}

.blue-box {
  background: #005084;
  padding   : 20px 40px 30px;
  margin    : 0 0 50px;
}

.blue-box .box-content {
  width    : 100%;
  max-width: 751px;
  margin   : auto;

}

.box-content h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size  : 37px;
  color      : #f7d259;
  line-height: 1.8
}

.box-content h4 span {
  font-weight: 400;
}

.box-content h6,
.box-content li {
  font-family  : 'Roboto Slab', serif;
  font-weight  : 700;
  font-size    : 28px;
  color        : #ffffff;
  line-height  : 1.4;
  position     : relative;
  /* margin-bottom: 20px; */
}

.box-content li {
  padding-left: 20px;
   margin-bottom: 20px;
}

.box-content h6 strong,
.box-content li strong {
  font-size: 37px;
  color    : #f7d259;
}

.box-content h6 span,
.box-content li span {
  font-weight: 400;
}


.box-content li:after {
  content      : '';
  position     : absolute;
  width        : 6px;
  height       : 6px;
  background   : #ffffff;
  top          : 19px;
  left         : 0;
  border-radius: 50%;
}
.box-content li:first-child:after{
	top          : 26px;
}
.box-content sup {
  font-size: 14px;
}



.text-container p {
  font-family  : 'Open Sans','regular', sans-serif;
  font-weight  : 400;
  color        : #000;
  margin-bottom: 15px;
  font-size    : 25px;
  width        : fit-content;
  display      : inline-block;
}

.text-container .title p {
  font-weight: 700;
font-family : 'Open Sans','bold',sans-serif;

}

.text-container sup {
  font-size: 14px;
}

.text-container strong {
  color: #005084;
}

.text-container span {
  font-size: 29px;
}

.text-container .list-one {
  max-width    : 800px;
  width        : 100%;
  margin-bottom: 70px;
}

hr {
  width        : 100%;
  height       : 0;
  border-bottom: 5px solid #d9af45;
  margin-top   : 50px;
  margin-bottom: 50px;
}

a.plain-link {
  position: relative;
  color   : #000;
}


.gt-src {
  display : inline-block;
  position: relative;
  color   : #000;
  width   : calc(100% - 270px) !important;

}

.two-line-res p {
  vertical-align: top;
}

.two-line-res .blueBox--link {
  margin-top: 8px;
}

a.plain-link:after {
  content      : '';
  position     : absolute;
  width        : 100%;
  height       : 0;
  border-bottom: 2px solid #000;
  bottom       : -5px;
  left         : 0;
}

.blueBox--link {
  padding       : 10px 15px;
  background    : #005084;
  color         : #ffffff;
  font-size     : 24px;
  margin-right  : 10px;
  vertical-align: sub;
  margin-top    : 20px;
  display       : inline-block;
}

.yellow-head {
  margin-top      : 50px;
  background-color: #f8e9c3;
  padding         : 10px 25px;
}

.yellow-head h4 {
  font-family  : 'Roboto Slab', serif;
  font-weight  : 700;
  font-size    : 25px;
  color        : #035084;
  margin-bottom: 0;
}

.list-one {
  font-family: 'Open Sans','regular', sans-serif;
  font-weight  : 400;
  color        : #000;
  margin-bottom: 15px;
  font-size    : 25px;
  margin       : 20px 0 20px 60px;
}

.list-one li {
  position           : relative;
  list-style-position: inside;
  margin             : 5px 0;
  padding-left       : 22px;
}

.list-one li:before {
  position        : absolute;
  content         : '';
  width           : 6px;
  height          : 6px;
  background-color: #000;
  border-radius   : 50%;
  top             : 16px;
  left            : 0;
}


.list-two {
  font-family: 'Roboto Slab', serif;

  font-weight  : 700;
  color        : #005084;
  margin-bottom: 15px;
  font-size    : 26px;
  margin       : 60px 0 60px 60px;
}

.list-two li {
  list-style         : disc;
  list-style-position: outside;
  margin             : 40px 0 0px;
}


.modal {
  background-color: rgba(245, 211, 89, 0.4);
}

.container {
  max-width: 1190px;
}