@media screen and (max-width:1600px) {}


@media screen and (max-width:1550px) {

    .slider-points .big-3 {
        font-size: 63px;
    }

    .slider-points .big-4 {
        font-size: 75px;
    }

    .slider-points .big-5 {
        font-size: 82px;
    }
}




@media screen and (max-width:1440px) {

    /* .main-header ul li a {
        font-size: 16px;
    }

    .logo a {
        width: 130px;
    }

    .logo a img {
        width: 100%;
    }

    .main-header ul li {
        margin: 0 14px;
    }

    .main-header__in {
        height: 100px;
    }

    .banner-container__top h2 {
        font-size: 36px;
    }

    .banner-container__main p {
        font-size: 18px;
    } */


    .slider-points h5 {
        font-size: 36px;
    }

    .slider-points .big-1 {
        font-size: 45px;
    }

    .slider-points .big-2 {
        font-size: 56px;
    }

    .slider-points .big-3 {
        font-size: 61px;
    }

    .slider-points .big-4 {
        font-size: 73px;
    }

    .slider-points .big-5 {
        font-size: 78px;
    }

    .slider-points {
      
        text-align: center;
    }

    /* .slider-points sup{
        font-size: 21px;
    } */
}

@media screen and (max-width:1336px) {}

@media screen and (max-width:1200px) {

    .fxHdr1 {
        padding-left: 10px;
        margin-left : 0 !important;
    }

    .main-header ul li a {
        font-size: 16px;
    }

    .fixHeader .main-header ul li a {
        font-size: 14px;
    }

    .main-header ul li {
        margin: 0 20px;
    }

    .fixHeader .main-header ul li {
        margin: 0 10px;
    }

    .ehr-box {
        padding: 0;
    }

    .ehr-box h2 {
        font-size: 26px;
    }

    h3 {
        font-size      : 24px;
        /*  line-height: 34px; */
    }

    .section.ehrTopCont {
        padding: 30px 0;
    }

    .ehr-box {
        margin-bottom: 50px;
    }

    .ehr-container .col-12:last-of-type .ehr-box {
        margin-bottom: 0;
    }

    .banner-container__top h2 {
        font-size: 36px;
    }

    .banner-container__top.search-banner h2 {
        font-size: 30px;
    }

    .sp-txt {
        font-size : 24px;
        margin-top: 0;
    }

    .sp-box__in p {
        font-size: 16px;
    }

    .sp-box__in h2 {
        font-size: 24px;
    }

    .sp-box__in {
        width : 220px;
        height: 214px;
    }

    .default-box p {
        font-size: 18px;
    }



    .htFiltHead .htFiltHdSpan,
    .upload-form-sec,
    .upload-form-sec__1 {
        font-size: 15px;
    }

    .htImg {
        width: 140px;
    }

    .htCont {
        width: calc(100% - 140px);
    }

    .htCont__in h2 {
        margin-top: 5px;
    }

    .htContainerIn {
        max-width: 960px;
    }

    .htBoxIn {
        width : 460px;
        height: 345px;
    }

    .htBox {
        margin-bottom: 40px;
    }

    .htCont__in {
        min-height: 245px;
    }

    .filtInt ul li .check-box label {
        font-size: 14px;
    }

    .search-container-up {
        margin: 50px 0;
    }

    .my-acc-box .pad {
        padding: 0 60px;
    }

    .upload-logo {
        margin: 0;
    }

    .banner-container__main p {
        font-size: 16px;
    }

    .main-header__in {
        height: 72px;
    }

    .fixHeader .main-header__in {
        height: 72px;
    }

    .main-header ul li a {
        padding: 12px 30px;
    }

    footer .copy {
        display: block;
    }

    footer p {

        display: inline-block;
    }

    .policys {
        position     : relative;
        right        : auto;
        bottom       : auto;
        text-align   : center;
        margin-bottom: 15px;
        margin-top   : 25px;
    }

    .policys .subfoo-link li {
        display      : inline-block;
        margin-bottom: 0;
    }

    .slider-points h5 {
        font-size: 33px;
    }

    .slider-points .big-1 {
        font-size: 41px;
    }

    .slider-points .big-2 {
        font-size: 50px;
    }

    .slider-points .big-3 {
        font-size: 55px;
    }

    .slider-points .big-4 {
        font-size: 66px;
    }

    .slider-points .big-5 {
        font-size: 68px;
    }

    /*  .slider-points sup {
     font-size: 18px;
 } */
}

@media screen and (max-width:1100px) {
    .main-header ul li {
        margin: 0 5px;
    }

    .fixHeader .main-header ul li {
        padding: 0 8px;
    }

    .main_section .blue_tag {
        font-size: 30px;
    }

    .main_section .sub-tag {
        font-size: 30px;
    }

    .slider {
        overflow-y : scroll;
        font-size  : 18px;
        line-height: 2;
    }

    .slider-points h5 {
        font-size: 29px;
    }

    .slider-points .big-1 {
        font-size: 37px;
    }

    .slider-points .big-2 {
        font-size: 46
    }

    .slider-points .big-3 {
        font-size: 51px;
    }

    .slider-points .big-4 {
        font-size: 62px;
    }

    .slider-points .big-5 {
        font-size: 64px;
    }

}

@media screen and (max-width:1024px) {
    .slider-points {
        
        text-align: center;
    }

    .slider-points h5 {
        font-size: 31px;
    }

    .slider-points .big-1 {
        font-size: 39px;
    }

    .slider-points .big-2 {
        font-size: 48px;
    }

    .slider-points .big-3 {
        font-size: 53px;
    }

    .slider-points .big-4 {
        font-size: 64px;
    }

    .slider-points .big-5 {
        font-size: 54px;
    }

    .slider_sec {
        height: 500px;
    }

    .main-title h2 {
        font-size: 30px;
    }

    .margin-tb {
        margin: 70px 0 50px;
    }


    .box-content h4 {
        font-size  : 32px;
        line-height: 1;
    }

    .box-content h6,
    .box-content li {
        font-size    : 23px;
        line-height  : 1.8;
        margin-bottom: 12px;
    }

    .text-container p,
    .list-one {
        font-size: 20px;
    }

    .yellow-head h4,
    .list-two {
        font-size: 22px;
    }

    .box-content h6 strong,
    .box-content li strong {
        font-size: 30px;
    }

    .two-line-res .blueBox--link {
        margin-top: 0;
    }

}


@media screen and (max-width:990px) {
    .menu-icon {
        display: block;
    }

    .main-header ul.navigation,
    .small-header {
        display: none;
    }

    .mob-menu-box {
        display    : flex;
        align-items: center;
    }

    .srchBox {
        height: 50px;
    }

    .srch input {
        height: 50px;
    }

    .srch .srchClose {
        top   : 14px;
        width : 20px;
        height: 20px;
    }

    header {
        top       : 0;
        /* padding: 0 20px; */
    }

    .main-header__in {
        height: 105px;
    }

    .logo a {
        width: 335px;
    }

    .logo a img {
        max-width: 100%;
    }

    .banner-container__top {
        background: #015084;
        height    : 70px;
    }

    .banner-container__top h2 {
        text-align: center;
        margin    : 0;
    }

    ul.navigation {
        padding : 60px 30px;
        width   : 100%;
        height  : 100%;
        overflow: auto;
    }

    ul.navigation li {
        margin        : 0;
        padding-bottom: 20px;
        font-size     : 18px;
    }

    ul.navigation li a {
        color    : #ffffff;
        font-size: 22px;
    }



    .banner-container__top h2 {
        font-size: 36px;
    }

    button {
        font-size: 18px;
    }



    .pad {
        padding: 0 50px;
    }

    .sp-box {
        display        : block;
        justify-content: space-between;
        align-items    : center;
        margin-top     : 50px;
        position       : relative;
    }

    .sp-box__in {
        width  : 400px;
        height : 214px;
        display: block;
        margin : 0 auto 30px;
    }

    .sp-box__in h2 {
        font-size: 36px;
    }

    .sp-box__in p {
        font-size: 19px;
    }



    .banner-container__main p {
        font-size: 16px;
    }



    .form-field {
        height   : 40px;
        font-size: 14px;
    }

    .select2-container {
        font-size: 14px;
    }

    .form-box label {
        font-size  : 16px;
        width      : fit-content;
        padding    : 0px 10px;
        height     : 30px;
        line-height: 30px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
    }

    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
    }

    .error {
        font-size: 13px;
    }

    .default-box p {
        max-width: 650px;
    }

    .evidence-links ul li h2 {
        font-size: 30px;
    }

    .evidence-links ul li a {
        font-size: 22px;
    }

    .guideline-links ul li a {
        font-size: 22px;
    }

    .guideline-links ul li {
        padding      : 25px 80px;
        margin-bottom: 20px;
        padding-right: 25px;
    }

    .htFilterRow {
        display     : inline-block;
        margin-left : 0;
        margin-right: 0;
        width       : 100%;
    }

    .htFiltHead {
        width        : 100%;
        margin-bottom: 20px;
    }

    .htFiltHead.htFiltSortBox {
        margin: 0;
    }

    .htFiltHead .htFiltHdSpan,
    .htFiltSearch,
    .upload-form-sec,
    .upload-form-sec__1 {
        height     : 40px;
        line-height: 40px;
        font-size  : 16px;
    }

    .htFiltHead1,
    .htFiltHead2 {
        width: 50%;
        float: left;
    }

    .htFiltHead1 {
        padding-right: 8px;
    }

    .htFiltHead2 {
        padding-left: 8px;
    }

    .htFiltHead.htFiltSearchBox {
        width: 100%;
        clear: both;
    }

    .filtIntBox,
    .htFiltBody {
        padding: 0 18px;
    }

    .htBox {
        width        : 100%;
        float        : none;
        margin-bottom: 20px;
    }

    .htBoxIn {
        width : 555px;
        height: 318px;
        margin: auto;
    }

    .htBox:nth-of-type(even) .htBoxIn {
        float: none;
    }

    .htImg {
        width: 180px;
    }

    .htCont {
        width: calc(100% - 180px);
    }

    .htCont__in {
        min-height: 210px;
    }

    .filtInt ul {
        margin: 30px auto 15px;
    }

    .filtInt ul li {
        width: 100%;
    }

    .filtBtns button {
        margin: 15px auto 0;
    }

    .banner-container__top.search-banner h2 {
        max-width: 100%;
    }

    .search-container li a.search-main-link {
        font-size: 24px;
    }

    .srch__container__in ul li a {
        font-size: 14px;
    }

    .upload-logo__content {
        padding-left: 30px;
        padding-top : 20px;
    }



    .upload-form-sec__1 label {
        margin-top  : -3px;
        margin-right: -9px;
    }

    .upload-form-sec__1 p {
        margin-top: -3px;
    }

    .modal-box {
        padding: 60px;
    }

    .guidePop p {
        width: 100%;
    }

    .srchBtn {
        width: 30px;
    }

    .srchBtn img {
        width: 100%;
    }

    .privacy-policy {
        position     : static;
        float        : none;
        margin-bottom: 20px;
        display      : inline-block;
        font-size    : 14px;
    }

    .ehr-contact .button {
        margin: 0 auto;
    }

    /* .h-banner-img-big{display          : none;} */
    /* .banner-container__main-in {padding: 0; max-width: 100%; } */
    .h-banner-img-big {
        height: 340px;
    }

    .h-banner-img-big img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
    }

    .slider-points {
        max-width : 95%;
        text-align: center;
    }

    .img-05 {
        width: 150%;
    }

    .img-06 {
        width: 170%;
    }

    .subfoo-link {
        display: inline-block;
    }

    .policys {
        font-size: 16px;
    }

    .policys a {
        display: inline-block;
    }

    .text-container .list-one {
        width: 80%;
    }
    .br-none{
        display: none;
    }
}

@media screen and (max-width:800px) {
    footer .copy {
        margin: 10px auto 10px;
    }

    .privacy-policy {
        position     : static;
        margin-bottom: 10px;
        display      : block;
    }

    @media screen and (max-width: 768px) {

        .banner-container__main button,
        .banner-container__main .button {
            margin: 20px auto 0;
        }

        .container {
            max-width: 100%;
        }

        .banner-container__main {
            min-height: auto;
            padding   : 0;
            background: transparent;
            text-align: center;
        }

        .h-banner-img {
            display: block;
        }

        .h-banner-img img {
            width     : 100%;
            height    : 100%;
            object-fit: contain;
        }

        .h-banner-cont {
            margin   : 30px 0;
            max-width: 100%;
            flex     : 0 0 100%;
        }

        .banner-container__main p {
            font-size: 24px;
        }

        .sp-container {
            padding: 40px 0;
        }

        .reg-form {
            padding-top: 10px;
        }

        .section.eved-start {
            padding-top: 20px;
        }

        .modal-box {
            background    : #015084;
            width         : 100%;
            max-width     : 1170px;
            padding       : 40px;
            pointer-events: auto;
        }

        .srch__container__in {
            width        : 100%;
            margin-bottom: 20px;
        }

        .h-banner-img-big {
            display: none;
        }

        .banner-container__main-in {
            padding          : 0 15px;
            position         : static;
            transform        : translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform   : translateX(0%);
            -ms-transform    : translateX(0%);
            -o-transform     : translateX(0%);
        }

        .left-txt h5 br {
            display: none;

        }

        .left-txt h5 {
            margin-bottom: 25px;
            text-align   : center;
        }

        .slider-points {
            max-width: 85%;

        }

        .slider-points h5 {
            font-size: 28px;
        }

        .slider-points .big-1 {
            font-size: 37px;
        }

        .slider-points .big-2 {
            font-size: 43px;
        }

        .slider-points .big-3 {
            font-size: 50px;
        }

        .slider-points .big-4 {
            font-size: 50px;
        }

        .slider-points .big-5 {
            font-size: 49px;
        }

        .slider-points .big-5.cirr {
            font-size: 55px;

        }

        .slider-points a {
            font-size: 28px;

        }

        .img-01,
        .img-02,
        .img-03,
        .img-04,
        .img-05,
        .img-06 {
            left: 50%;
        }

        .img-03 {
            width: 100%;
        }

        .img-04 {
            width: 140%;
        }

        .img-05 {
            width: 210%;
        }

        .img-06 {
            width: 230%;
        }
    }



    @media screen and (max-width:640px) {
        .model-close img {
            width: 100%;
        }

        .model-close {
            right : 20px;
            top   : 20px;
            width : 20px;
            height: 20px;
        }

        .modal-box {
            padding: 30px 20px;
        }

        .guidePop h3 br {
            display: none;
        }


        .main-header__in {
            height: 85px;
        }

        .logo a {
            width: 250px;
        }

        ul.navigation li a {
            font-size: 24px;
        }

        .mob-close-box {
            padding: 15px 0;
            width  : 70px;
        }

        .mob-close img {
            width: 20px;
        }

        ul.navigation {
            padding: 30px 20px;
            width  : 100%;
        }

        ul.navigation li {
            margin        : 0;
            padding-bottom: 15px;
        }

        ul.navigation li a {
            font-size: 18px;
        }

        ul.navigation li {
            font-size: 16px;
        }

        .banner-container__top h2 {
            font-size: 31px;
        }

        .default-box p {
            max-width: 80%;
        }

        .form-box textarea {
            height: 140px;
        }

        .mobl {
            display: block;
        }

        .org {
            display: none;
        }

        footer .copy {
            display  : inline-block;
            max-width: 100%;
            width    : 100%;
            padding  : 0 15px;
        }



        .login-register {
            margin : 70px 0 0px;
            padding: 0 15px;
        }

        .htBox {
            padding: 0 20px;
        }

        .htBoxIn {
            width    : 100%;
            max-width: 555px;
            height   : auto;
            display  : block;
        }

        .htImg {
            display: block;
            margin : 0 auto 20px;
        }

        .htCont {
            width     : 100%;
            padding   : 0;
            text-align: center;
        }

        .htCont__in {
            min-height: auto;
            text-align: left;
        }

        .htCont button,
        .htCont .button {
            margin: 0 auto;
        }


        .main_section .blue_tag,
        .main_section .sub-tag {
            font-size  : 25px;
            line-height: initial;
        }



        .margin-tb {
            margin: 44px 0 50px;
        }

        .main-title h2 {
            font-size : 25px;
            text-align: center;
        }

        .box-content h6,
        .box-content li {

            line-height: 1.4;

        }

        .blue-box {
            padding    : 20px 17px 30px;
            margin-left: -15px;
            width      : calc(100% + 30px);
            text-align : center;
        }

        .box-content h4 {
            margin-bottom: 0;
            line-height  : initial;
            margin-top   : 15px;
            font-size    : 28px;
        }


        .box-content h6 strong,
        .box-content li strong {
            font-size: 28px;
        }

        .box-content h6,
        .box-content li {
            font-size    : 20px;
            margin-top   : 8px;
            margin-bottom: 0;
        }



        .list-one {
            margin: 20px 0 20px 50px;
        }

        .blueBox--link {
            font-size: 20px;
            width    : fit-content;
            display  : block;
            margin   : 20px 0;
        }

        .list-one li:before {
            top : 18px;
            left: 0;
        }


        .refrences_sec {
            height : auto;
            padding: 5px 0;
        }



        .upload-form-sec__1 label {
            width    : fit-content;
            font-size: 16px;
            padding  : 0 15px;

        }

        .two-line-res p {

            width  : 100% !important;
            display: block;
        }

        .box-content li:after {
            display: none;
        }

        .break {
            word-break: break-all;
        }

        .section {
            padding: 15px 0 30px;
        }


        .default-box p,
        .htools h3 {
            font-size  : 20px;
            line-height: 32px;
        }

        .htools h3 {
            margin: 0 0 25px;
        }

        .form-box button,
        .form-box .button,
        button#login,
        .htCont button,
        .htCont .button {

            font-size: 22px;

        }


        .htCont button,
        .htCont .button {
            width      : 227px;
            height     : 47px;
            line-height: 47px;
        }

        .htFiltHead1,
        .htFiltHead2 {
            width  : 100%;
            float  : left;
            padding: 0 18px
        }


        .htCont__in h2 {
            font-size: 25px;
        }

        .htCont__in p {
            font-size: 22px;
        }



        .check-box label {
            font-size: 18px;
        }


        .upload-logo__content h2 {
            font-size: 24px;
        }

        .upload-logo__content p {
            font-size: 16px;
        }



        .text-container p,
        .list-one {
            font-size: 18px;
        }


        .ehr-contact h3 {
            margin-top: 0;
        }

        .slider-points .big-2 {
            font-size: 40px;
        }

        .slider-points .big-3 {
            font-size: 40px;
        }

        .slider-points .big-4 {
            font-size: 51px;
        }

        .slider-points .big-5 {
            font-size: 40px;
        }

        .slider-points .big-5.cirr {
            font-size: 58px;
        }

        .slider-points.point-3 .big-5.hep sup {
            top: 17px;
        }

        .slider-points sup {
            font-size: 19px;
        }

        .slider-points .big-3 sup {
            top: 19px;
        }

        .slider-points span sup {
            font-size: 19px;
            top      : 30px;
            right    : -10px;
        }
    }

    @media screen and (max-width: 576px) {
        .slider-points h5 {
            font-size: 22px;
        }

        .slider-points .big-1 {
            font-size: 27px;
        }

        .slider-points .big-2 {
            font-size: 33px;
        }

        .slider-points .big-3 {
            font-size: 40px;
        }

        .slider-points .big-4 {
            font-size: 45px;
        }

        .slider-points .big-5 {
            font-size: 39px;
        }

        .slider-points .big-5.cirr {
            font-size: 58px;
        }

        .slider-points sup {
            font-size: 19px;
        }
    }

    @media screen and (max-width:500px) {}

    @media screen and (max-width:480px) {
        h3 {
            font-size  : 20px;
            line-height: 30px;
            margin     : 15px 0;
        }

        ul.navigation li a {
            font-size: 16px;
        }

        ul.navigation li {
            font-size: 13px;
        }

        .footer-slip {
            height: 20px;
        }

        .default-box p {
            max-width: 90%;
        }

        .banner-container__main p {
            font-size  : 20px;
            line-height: 1.5;
        }

        .pad {
            padding: 0 30px;
        }

        .sp-box__in {
            width : 100%;
            height: 214px;
        }

        .sp-box__in h2 {
            font-size: 28px;
        }

        .default-box h2 {
            font-size    : 26px;
            margin-bottom: 10px;
        }

        .default-box h2 span {
            font-size: 30px;
        }

        .default-box p {
            font-size: 18px;
        }

        footer {
            padding-top: 30px;
        }

        .sp-container {
            padding: 30px 0;
        }

        .evidence-links {
            padding: 15px 30px;
        }

        .evidence-links ul li h2 {
            font-size: 24px;
        }

        .evidence-links ul li a {
            font-size: 20px;
        }

        .evidence-links ul li {
            margin: 20px 0;
        }



        .guideline-links ul li a {
            font-size: 20px;
        }

        .srch input,
        .srchBox {
            height: 40px;
        }

        .srch input {
            padding-left : 30px;
            padding-right: 20px;
        }

        .srch .srchClose {
            top   : 12px;
            width : 15px;
            height: 15px;
        }

        .htContainer {
            padding: 20px 0;
        }

        .htCont__in p {
            font-size: 16px;
        }

        .htFiltHead1,
        .htFiltHead2 {
            width  : 100%;
            float  : none;
            padding: 0 15px;
        }

        .htFiltHead {
            margin-bottom: 10px;
        }

        ul.pagin {
            margin: 30px 0 50px;
        }

        #regModal .modal-box {
            padding: 45px 20px;
        }

        .modal-box {
            padding    : 20px;
            padding-top: 50px;
        }

        .model-close {
            right: 20px;
            top  : 10px;
        }

        .modal-box .form-box button {
            width    : 100%;
            font-size: 16px;
        }

        .guidePop h3 {
            font-size: 22px;
        }

        .guidePop .check-box {
            margin: 50px 0 0;
        }

        .guidePop ul {
            margin: 30px 0 10px;
        }

        .banner-container__top.search-banner h2 {
            font-size: 24px;
        }

        .banner-container__top h2 span {
            font-size: 14px;
        }

        .search-container li a.search-main-link {
            font-size: 22px;
        }

        .srch__container {
            margin: 0 20px;
        }

        .srch__container__in ul li {
            margin-bottom: 10px;
        }

        .srch__container__in h2 {
            margin-bottom: 15px;
        }

        .my-acc-box .pad {
            padding: 0 30px;
        }

        .upload-logo {
            display   : block;
            text-align: center;
        }

        .upload-logo__img {
            margin: 0 auto;
        }

        .upload-logo__content {
            padding-left: 0;
        }

        .upload-logo__content h2 {
            font-size: 24px;
        }

        .upload-logo__content p {
            font-size: 16px;
        }

        .page-item {
            font-size: 14px;
        }

        .pagination .page-item:first-of-type .page-link,
        .pagination .page-item:last-of-type .page-link {
            width: 62px;
        }

        .page-link {
            font-size: 14px;
        }

        .form-box button,
        .form-box .button,
        button#login,
        .htCont button,
        .htCont .button {
            font-size: 18px;
        }


        footer p {
            font-size: 16px;
        }

        .policys {
            font-size : 16px;
            margin-top: 15px;
        }

        .main_section .blue_tag,
        .main_section .sub-tag {
            font-size  : 21px;
            line-height: initial;
        }

        .main_section .blue_tag {
            padding: 20px 15px;
        }

        .img-05 {
            width: 250%;
        }


        .slider-points h5 {
            font-size: 22px;
        }

        .slider-points .big-1 {
            font-size: 27px;
        }

        .slider-points .big-2 {
            font-size: 23px;
        }

        .slider-points .big-3 {
            font-size: 31px;
        }

        .slider-points .big-4 {
            font-size: 30px;
        }

        .slider-points .big-5 {
            font-size: 33px;
        }

        .slider-points .big-5.cirr {
            font-size: 45px;
        }

        .slider-points a {
            font-size: 18px;
        }

        .slider-points sup {
            font-size: 17px;
        }

        .slider-points span sup {

            top  : 17px;
            right: -10px;
        }

        .slider_sec {
            height: 395px;
        }

        .margin-tb {
            margin: 34px 0 33px;
        }
    }

    @media screen and (max-width:400px) {
        .main-header__in {
            height: 65px;
        }

        .logo a {
            width: 185px;
        }

        .srchBtn {
            width : 20px;
            height: 20px;
        }

        .srchBtn img {
            width     : 100%;
            height    : 100%;
            object-fit: contain;
        }

        .menu-icon span,
        .menu-icon span:before,
        .menu-icon span:after {
            height: 3px;
        }

        .menu-icon span:before {
            top: -9px;
        }

        .menu-icon span:after {
            top: 9px;
        }

        .menu-icon {
            width : 30px;
            height: 24px;
        }

        .srchBtn {
            vertical-align: text-top;
        }

        .mob-srchBtn {
            margin-right: 20px;
        }

        .mob-menu-box {
            position: relative;
            top     : -3px;
        }

        .banner-container__top h2 {
            font-size: 30px;
        }

        .banner-container__top {
            height: 70px;
        }

        .banner-container__main p {
            font-size: 18px;
        }

        .sp-txt {
            font-size: 20px;
        }

        .sp-box {
            margin-top: 30px;
        }

        .sp-box__in {
            margin: 0 auto 20px;
        }



        .default-box h2 {
            font-size: 22px;
        }

        .evidence-links ul li a {
            font-size: 18px;
        }

        .evidence-links {
            padding: 5px 20px;
        }

        .evidence-links ul {
            line-height: 1.2;
        }

        .guideline-links ul li {
            padding      : 15px 45px;
            padding-right: 15px;
        }

        .guideline-links ul li a {
            font-size: 18px;
        }

        .guideline-links ul li a img {
            left : -32px;
            width: 20px;
        }

        .htCont__in p {
            font-size: 16px;
        }

        .htCont__in h2 {
            font-size: 20px;
        }

        .htBoxIn {
            padding: 20px;
        }

        .banner-container__top.search-banner h2 {
            font-size: 20px;
        }

        .search-container-up {
            margin: 30px 0;
        }

        .search-container li a.search-main-link {
            font-size: 20px;
        }

        .search-container li span,
        .search-container li a.search-sub-link {
            font-size: 14px;
        }

        .search-container li a.search-main-link,
        .search-container li span {
            margin-bottom: 5px;
        }

        .search-container {
            margin-bottom: 0;
        }




        .slider {
            font-size  : 16px;
            line-height: 1.8;
        }

        .form-box label {
            font-size: 16px;
        }

        .main-title h2 {
            font-size: 22px;
        }

        .box-content h4,
        .box-content h6 strong,
        .box-content li strong {
            font-size: 25px;
        }




        .text-container p,
        .list-one,
        .yellow-head h4,
        .list-two {
            font-size: 16px;
        }

        .text-container p,
        .list-one {
            font-size: 16px;
        }

        .list-one li:before {
            top: 15px;

        }

        .refrences_sec h5 {
            font-size: 25px;
        }

        .list-one {
            margin: 20px 0 20px 10px;
        }










        .htFiltHead1,
        .htFiltHead2 {
            width  : 100%;
            float  : left;
            padding: 0 18px
        }






    }



    @media screen and (max-width:360px) {}