body {
  font-family: @open;
  .det (16px, #000, 400);
  line-height: 1.5;
  background: #f1f1f1;
  word-break: break-word;
}

.mainContainer {
  max-width: 960px;
  margin: 0 auto;
}

.mainContainerIn {
  background: #fff;
}

.container {
  max-width: 100%;
  padding: 0 7%;
}

header {
  border-top: 6px solid #daaf46;
  text-align: right;
}

.member-logo {
  display: inline-block;
  height: 60px;
  max-width: 150px;
  margin: 10px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

footer {
  border-bottom: 25px solid @orange;
  padding: 20px 0;
}

.footImg {
  .flex();
  margin-bottom: 15px;

  .ftImg1 {
    max-width: 130px;
  }

  .ftImg2 {
    max-width: 330px;
  }
}

.copyWid {
  display: inline-block;
  vertical-align: middle;

  p {
    .det(12px, #797879);
    margin: 0;
  }
}

.copyrig {
  .flex();
}

.sub-banner {
  background: #f4e1a4;
  padding: 20px 0;
  margin-bottom: 30px;

  h5 {
    .det (32px, @blue, 700);
    margin-bottom: 0;
  }
}

h3 {
  .det (24px, #005084, 700);
  font-family: @roboto;
}

h4 {
  .det (20px, #005084, 700);
}

.normal {
  font-weight: 400;
}

p {
  .det (18px, #0c0c0c);
  margin-bottom: 12px;
}

.smallTxt {
  .det (12px, #0c0c0c);
  font-family: @roboto;
  margin-bottom: 8px;
}

ul ul {
  margin-top: 10px;
  margin-bottom: 15px;

  li {
    padding-left: 20px;

    &:before {
      height: 2px;
      width: 10px;
    }
  }
}

a {
  color: #337ab7;

  &:hover {
    color: #055184;
  }
}

.bg-sec {
  background: #fdf9eb;
  padding: 25px;

  &.bg-sec-2 {
    background: #fdf9eb;
    padding: 20px 100px;
    border-top: 5px solid #d9af45;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
}

.list-1 {
  list-style: none;
  margin-bottom: 0;
  margin-left: 20px;
}

.list-2 {
  counter-reset: count;
  list-style: none;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 0;

  li {
    counter-increment: count;
    padding-left: 20px;

    &:before {
      content: counter(count)+".";
      width: auto;
      height: auto;
      background: transparent;
      top: 0;
      margin-top: 0;
      color: #055184;
      font-weight: 700;
    }
  }
}

li {
  .det (16px, #0c0c0c);
  margin-bottom: 8px;
  padding-left: 15px;
  position: relative;

  &:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #055184;
    display: block;
    position: absolute;
    left: 0;
    margin-top: 10px;
  }
}

.list-4 {
  li {
    width: 100% !important;
    padding: 0;

    &:before {
      display: none;
    }

    &::first-letter {
      color: @blue;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
    }
  }
}

.cmb-mb {
  margin-bottom: 30px;
}

.myTableBox {
  margin-bottom: 20px;
  overflow-x: auto;
}

.myTableTxt {
  font-size: 14px;
}

.myTable {
  display: flex;
  border-left: 1px solid #000;
  min-width: 768px;
}

.myTableHdn {
  background: #f5e1a3;
  border-top: 1px solid #000;
  text-align: center;

  .cell {
    padding: 10px 0px;
  }
}

.cell {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;

  h5 {
    .det (13px, #005084, 700);
    margin: 0;
  }

  .list-1 {
    margin-left: 0;
  }

  li:before {
    margin-top: 8px;
  }

  p,
  li {
    .det (13px, #0c0c0c);
    margin: 0;
  }

  h6 {
    .det (13px, #055084, 700);
    margin: 0;
  }

  &:nth-of-type(1) {
    width: 17%;
  }

  &:nth-of-type(2) {
    width: 10%;
  }

  &:nth-of-type(3) {
    width: 25%;
  }

  &:nth-of-type(4) {
    width: 26%;
  }

  &:nth-of-type(5) {
    width: 22%;
  }

}

.myTableFull {
  border-top: 0;

  .cell {
    width: 100%;
    padding: 0;
  }
}

.myTableBox-2 {
  .cell:nth-of-type(1) {
    width: 20%;
  }

  .cell:nth-of-type(2) {
    width: 80%;
  }
}

.diagnostic-workup-img {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.clr {
  color: #005084;
}

.flex-center {
  .flex();
  flex-wrap: wrap;
}

.bg-title {
  background: #f4e1a4;
  padding: 20px;
  margin-bottom: 15px;

  h3 {
    font-size: 18px;
    margin: 0;
  }
}

.blue-banner {
  background: #005084;
  padding: 15px 25px;

  h5 {
    .det (24px, #fff, 700);
    font-family: @roboto;
    margin-bottom: 0;
  }
}

.normal-banner {
  padding: 0 25px;

  h5 {
    .det (24px, #005084);
    font-family: @roboto;
    margin-bottom: 0;
  }
}

.dateSec {
  padding: 15px;
  border: 2px solid #d9af45;
  border-bottom: 2px solid #d9af45;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  .name-line {
    width: 65px;
    height: 20px;
    margin: 0 10px;
  }
}


/* 
.det (16px, #000, 700); 
    font-family: @roboto;
*/