.myTableBox-3 {
    .cell {
        padding: 10px !important;
    }

    .cell:nth-of-type(1) {
        width: 25%;
    }

    .cell:nth-of-type(2) {
        width: 25%;
    }

    .cell:nth-of-type(3) {
        width: 8%;
    }

    .cell:nth-of-type(4) {
        width: 52%;
    }
}

.list-3 {
    list-style   : none;
    margin-bottom: 0;
    margin-left  : 20px;
    padding      : 0;

    li {
        padding-left: 20px;

        &:before {
            content      : '';
            width        : 13px;
            height       : 13px;
            background   : transparent;
            top          : 5px;
            margin-top   : 0;
            border       : 1px solid #000;
            border-radius: 0;
        }
        li:before {
            content      : "";
            width        : 5px;
            height       : 5px;
            border-radius: 50%;
            background   : #055184;
            display      : block;
            position     : absolute;
            left         : 0;
            margin-top   : 10px;
        }
    }
}

.name-line {
    width      : 50%;
    font-size  : 16px;
    margin-top : 18px;
    display    : flex;
    white-space: nowrap;

    &:after {
        content      : '';
        height       : 20px;
        width        : 100%;
        border-bottom: 1px solid #000;
    }
}