@media all and (max-width:1600px) {}

@media all and (max-width:1440px) {}

@media all and (max-width:1336px) {}

@media all and (max-width:1200px) {}

@media all and (max-width:990px) {
    .sub-banner h5 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .cmb-mb {
        margin-bottom: 25px;
    }

    .bg-sec.bg-sec-2 {
        padding: 20px 60px;
    }
}

@media all and (max-width:768px) {
    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    li {
        font-size: 14px;
    }

    .sub-banner h5 {
        font-size: 26px;
    }

    .footImg .ftImg2 {
        max-width: 280px;
    }

    .footImg .ftImg1 {
        max-width: 100px;
    }

    .bg-sec.bg-sec-2 {
        padding: 20px;
    }

    .blue-banner h5,
    .normal-banner h5 {
        font-size: 20px;
    }

    .bg-title {
        padding: 10px;
    }
}

@media all and (max-width:640px) {
    .sub-banner h5 {
        font-size: 24px;
    }

    .footImg .ftImg2 {
        max-width: 230px;
    }

    .footImg .ftImg1 {
        max-width: 80px;
    }

    .member-logo {
        height: 50px;
    }

    .bg-sec {
        padding: 20px;
    }
}

@media all and (max-width:480px) {
    .sub-banner h5 {
        font-size: 22px;
    }

    .sub-banner {
        padding: 10px 0;
    }

    .bg-sec {
        padding: 15px;
    }

    .bul-dark {
        margin-left: 10px;
    }

    .copyrig {
        display: block;
        margin-top: 10px;
    }

    .member-logo {
        height: 40px;
        max-width: 130px;
        margin: 5px 0;
    }

    .container {
        padding: 0 15px;
    }

    .sub-banner {
        margin-bottom: 20px;
    }

    .cmb-mb {
        margin-bottom: 15px;
    }

    .bg-sec.bg-sec-2 ul li {
        width: 100%;
    }

    .blue-banner h5,
    .normal-banner h5 {
        font-size: 18px;
    }

    .dateSec {
        padding: 15px 10px;
        font-size: 12px;
    }

    .dateSec .name-line {
        width: 50px;
        margin: 0 9px;
    }
}

@media all and (max-width:400px) {
    .sub-banner h5 {
        font-size: 20px;
    }

    .footImg {
        display: block;
    }

    .footImg .ftImg1 {
        margin-bottom: 10px;
    }
}

@media all and (max-width:360px) {
    .sub-banner h5 {
        font-size: 20px;
    }
}