<header>
    <div class="small-header">
        <div class="container">
            <ul>
                <li><a href="login.html">Log In</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="#"><img src="img/search.png" alt="img" /></a></li>
            </ul>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="main-header__in">
                <div class="logo"><a href="index.html"><img src="img/logo.png" alt="img" /></a></div>
                <ul>
                    <li><a href="health-tools.html">Health Tools</a></li>
                    <li><a href="evidence-flow.html">Evidence-based Workflow</a></li>
                    <li><a href="ehr-plugins.html">EHR Plugins</a></li>
                    <li><a href="guidelines.html" class="active"> Guidelines and Links</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>